@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito-sans, sans-serif;
    font-weight: 200;
    color: #FFFFFC;
    background-color: #292929;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FF7F11;
}
/*The menu bar i learned from the love running project*/
#menu, #logo {
    line-height: 75px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/*I learned this from a another student in slack on how to reverse the floating issue with a navbar*/

nav {
    position: absolute;
    top: 2
    px;
    right: 20px;
}

#menu li{
    font-size: 1.2em;
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #FF7F11;
}

#menu a:hover {
    border-bottom: 1px solid #FF7F11;
}

.active {
    border-bottom: 1px solid #FF7F11;
}

#hero-outline {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image2.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* This was learned from a combination of W3schools and The Dev Dreamer youtube page (CSS walkthrough video)*/
.flex-container {
    width: auto;
    height: 600%;
    margin: 80px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

#weightslogo{
    margin-left: 20px;
} 

#squat-image{
    height: 600px;
    width: 120%;
    border: 8px solid #FF7F11;
}

#legend {
    text-align: center;
    padding-left: 120px;
    padding-right: 40px;
    color: #FF7F11;
}

#gymzones {
    list-style-type: none;
}

#assaultbike {
    margin-right: 80px;

}

#assault-bike-image{
    height: 600px;
    width: 117%;
    border: 8px solid #FF7F11;
}

/*Button below has been founded from w3schools */
#index-aboutus-button{
    background-color: #FF7F11; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:  25px 50px 75px 120px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#index-aboutus-button:hover{
        background-color: #FFFFFC;
        color: 292929;
}

/*Button below has been founded from w3schools */
#index-signup-button{
    background-color: #FF7F11; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:  25px 50px 75px 120px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#index-signup-button:hover{
        background-color: #FFFFFC;
        color: #292929;
}

#yoga{
    width: 33%;
    border: 8px solid #FF7F11;
    margin-top: 7%;
    margin-bottom: 2%;
    float: left;
}

#about-us-legend{
    width: 33%;
    margin: 0 auto;
    padding: 30px;
    clear: top;
    clear: both;
}
#trx{
    border: 8px solid #FF7F11;
    text-align: center;
    float: right;
    margin-right: 10%;
    width: 33%;
}

#aboutustrx{
    margin-top: 2%;
    margin-bottom: 24%;
}

#h3{
    color: #292929;
}

#free-weights{
    background-color: #292929;
    /* padding-top: 2%;
    padding-left:  5%;
    padding-right: 5%; */
    padding: 5px 10px 5px 10px;
    width: 25%; 
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-width: 5px;
    color: #FF7F11;
}
#dumbbells{
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#cardio-vascular{
    background-color: #FF7F11;
    /* padding-top: 2%;
    padding-left:  5%;
    padding-right: 5%; */
    padding: 5px 10px 5px 10px;
    width: 25%; 
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-width: 5px
}

#cardio{
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#sauna-steam{
    background-color: #292929;
    /* padding-top: 2%;
    padding-left:  5%;
    padding-right: 5%; */
    padding: 5px 10px 5px 10px;
    width: 25%;
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-width: 5px;
    color: #FF7F11;
}

#sauna{
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personal-training{
    background-color: #FF7F11;
    padding: 5px 10px 5px 10px;
    /* padding-top: 2%;
    padding-left:  5%;
    padding-right: 5%; */
    width: 25%; 
    text-align: center;
    vertical-align: center;
    border-style: solid;
  border-width: 5px
}

#personaltraining{
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#form-section{
    padding-left: 10%;
}

#form{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-style: solid;
    border-width: 5px;
    padding: 12px 25px;
    margin: 8px 10px;
    color: #FF7F11;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 25px;
    margin: 8px 10px;
    box-sizing: border-box;
    background-color: #FF7F11;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    background-color: #FF7F11;
  } 

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #FF7F11;
}
